@font-face {
   font-family: 'basiercircle-regular-webfont';
   font-display: swap;
   src: url('file:///C:/Users/Twebs/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-03-05_002841/fonts/basiercircle-regular-webfont/font.ttf');
}
